.content_container
{
    background-color: #000212;
    height: 80vh;
    padding-top: 6%;
    z-index: 1;
}
.light .content_container
{
  background-color: #ffffff;

}
.light .content-page
{
  color: black!important;
}
.content-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 75%;
    /* border: 1px solid white; */
    margin: auto;
    color: white;
  }
  
  .content-page__left {
    justify-self: flex-start;
  }
  .light .content-page__title,
  .light .content-page__description
  {
    color: black!important;
  }
  .content-page__title {
    font-size:  50px;
    margin-bottom: 10px;
  }
  
  .content-page__description {
    margin-bottom: 20px;
  }
  
  .content-page__button {
   
    padding: 8px 30px;
    cursor: pointer;
    margin-left: 0;

  }
  
  .content-page__right {
    position: relative;
    justify-self: flex-end;
    /* padding-left: 10%; */
    /* border: 1px solid white; */

  }
 
  .content-page__image {
    max-width: 80%;
    height: auto;
    position: relative;
    left: 25%;
    /* border: 1px solid white; */
  }
  .light .ellipse
  {
    width: 400px;
    height: 300px;
    /* backdrop-filter: blur(20px); */
    filter: blur(190px);
    border-radius: 50px;
    background: linear-gradient(180deg, #1a3be0d2 0%, #ff000084 100%);
    position: absolute;
    right: -150px;
    top: 150px;
    
  }
  .ellipse
  {
    position: absolute;
    width: 200px;
    height: 200px;
    right: -20px;
    top: 150px;
    background: rgba(13, 66, 164, 0.784);
    filter: blur(150px);
    z-index: 100;
  }