.login__container-create
{
    background-color: #000212;
    padding: 5% 0;
    width: 70%;
    /* margin: 5% auto 0; */
    margin: auto;
    padding: 5% 0;
    height: 75vh;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}
.light .login__container
{
    background-color: #ffffff;
}
.error-msg
{
    color: red!important;
}

.light .login__form input[type='text'],
.light .login__form input[type='password'] 
{
    box-shadow: inset 0px 4px 30px #01118d;
    background-color: #0316a3;
}
.login__form input[type='text'],input[type='password']  ,textarea
{
    box-shadow: inset 0px 4px 30px #000B65;
    border-radius: 5px;
    padding: 18px  0 18px 30px ;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: white;
}
.role 
{
    display: flex;
    justify-content: space-between;
    width: 40%;

}
.light .role input,
.light .role label,
.light .remember-forgot label,
.light .register__title h3,
.light .forgot-password,
.light  .join p

{
    color: rgb(0, 0, 0)!important;

}
.role input
{
    margin: 10px 5px 10px 0 ;
}
.remember-forgot
{
    display: flex;
    justify-content: space-between;
}
.remember-forgot input 
{
    margin-right: 10px;
}
.forgot-password
{
    cursor: pointer;
}