 *
{
    color: white;
}

.profile ,.account
{
    background-color: #000212;
    height: 130vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 5%;
}
.light .profile
{
  background-color: #ffffff;

}
.light .profile__title h4,
.light .profile__title h3{
  color: black;
}
.profile__container {
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 80%;
    margin:  0 auto;
  }
  .container-cus  {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    
  }
  .profile__title
  {
    width: 35%;
    position: relative;
    left: 6%;
    margin: 5% auto 4%;

  }

  .profile__title-cus
  {
    width: 80%;
    margin: 5% auto 4%;
    text-align: center;
  }
  .profile__title-cus h3 
  {
    font-size: 30px;

  }
  .profile__title h3 
  {
    font-size: 30px;
  }
  .profile__title h4
  {
    padding-top: 10px;
    font-size: 25px;
  }
  .profile__container .container 
  {
    width: 100%!important;
    align-items: flex-start;
  }
  .profile__card {
    border-radius: 50%;
  }
   .profile__form {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 8%;
    width: 100%;
  }
  
  
  .profile__input {
    width: 100%;
    margin-bottom: 1rem;
  }
  .light .profile__input label
  {
    color: black;
  }
  .customer__input-profile
  {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  
  .profile__input label {
    margin: 10px 0;
    display: block;
  }
  
  .profile__input input,
  .profile__input textarea {
    width: 85%;
    padding: 1rem;
    border: none;
  }
  .light .customer__profile input ,.light .customer__profile textarea,
  .light .profile__input textarea
  {
    box-shadow: inset 0px 4px 30px #5363de;
    background-color: #041387;
  }
  .btnCreateProfile
  {
    width: 80%;
  }
  .customer__profile input ,textarea
  {
      box-shadow: inset 0px 4px 30px #000B65;
      border-radius: 5px;
      padding: 18px  0 18px 30px ;
      width: 90%;
      margin: 15px 0;
      box-sizing: border-box;
      background-color: #000212;
      border: none;
      color: white;
  }
  .profile__button button {
    color: #fff;
    cursor: pointer;
  }
  
 
  .image-container {
    width: 250px!important;
    height: 250px!important;
    border-radius: 50%;
    overflow: hidden;
    margin: 40px auto 0;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
  }
  .upload
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
  }
  .customer__profile.card 
  {
    height: auto;
  }
.skipbutton
{
  position: absolute;
  top: 20%;
  left: 25%;
}
/* view user profile */


