.register-step {
    margin-bottom: 1rem;
  }
  
  .register-step__nav {
    display: flex;
    justify-content: center;
  }
  
  .register-step__item {
    margin: 0 0.5rem;
  }
  .light .register-step__item a
  {
    color: #30548bc6;

  }
  .register-step__item a,
  .register-step__item--disabled {
    padding: 0.5rem;
    text-decoration: none;
    color: #749ddbc6;
    font-weight: bold;
  }
  
  .register-step__item--disabled {
    color: #9999999c;
    cursor: not-allowed;
  }
  