*{
  text-decoration: none;
}
.factory__container
{
  width: 100%;
  min-height: 100vh;
  background-color: #000212;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  padding: 50px 0 90px 0;
}
.light .factory__container
{
  background-color: transparent;
}
.light .factorystep__container .component> h1
{
  color: #000212;
}
.light.factorystep__container .component .themelink .active__theme
{
  border: 2px solid black;
  color: #000212!important;
}
.light .factory__container .component >*
{
  color: black;
}
.factory__container .component
{
    width: 80%;
    margin: 30px auto;
}
  .factory__container .bottom_rect
  {
    position: absolute;
    width: 100%;
    height: 455px;
    left: 128px;
    bottom: -490px;
    background: #092b70;
    filter: blur(120px);
    opacity: .9;
  }
  .factory__header 
  {
    margin: 30px 6px;
    letter-spacing: 0.3em;
    font-weight: 300;

  }
  .factory__navbar
  {
    border-bottom: 1px solid #0E1E9D;
    padding: 9px 10px;
    display: flex;
    justify-content: space-between;
  }
  .factorystep
  {
    display: flex;
  }
  .factory__navbar-left
  {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .light 
  .factory__dark,
  .light .factory__navbar-right p
  {
    color: #000212!important;
  }

  .light .notibell 
{
  stroke: #0606fe; /* Set the desired stroke color */
  fill: #000000;
}
  .factory__color
  {
    color: #6D6D6D;
  }
  /* .progress__container
  {
    border: 2px solid black;
  } */
  .factory__container .bottom_rect
  {
      position: absolute;
      width: 100%;
      height: 455px;
      left: 128px;
      bottom: -490px;
      opacity: 0.8;
      background: #092b70;
      filter: blur(120px);
  }

  .post-cards-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    grid-gap: 20px;
    width: 80%;
    margin: auto;
  }
  .light .post-card ,
  .light .request-card
  {
    /* background-color: #ffffff1a; */
    background-color: #00028830;
    box-shadow:  2px 3px 5px rgba(20, 20, 23, 0.318);

  }
  .post-card {
    background-color: #ffffff29;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .light .post-card h3 ,
   .light .post-card p,
   .light .request-card p
   {
    color: #000000!important;
   }
  .post-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .post-card p {
    font-size: 14px;
    margin: 9px 0;
  }
  .light .summary.modal-overlay,.request.modal-overlay,.light .confirmation.modal-overlay
  {
    background-color: #0000004e;
    backdrop-filter: blur(10px);
  }
  .summary.modal-overlay,.request.modal-overlay,.confirmation.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b2b2b3d;
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profileViewforCustomer,.profileViewforProvider
  {
    border: 1px solid rgba(255, 255, 255, 0.37);
    width: 95%;
    height: 60%;
    box-sizing: border-box;
    /* padding: 20px 100px; */
    overflow: auto;
    scrollbar-width: none;
    position: relative;
  }
  .light .profileViewforCustomer,.light .profileViewforProvider
  {
    border: 1px solid rgba(0, 0, 0, 0.37);

  }
  .light .modal.profileModalViewTheme
  {
    background-color: #0e00000f;
    /* backdrop-filter: blur(10px); */
  }
  .profileViewforProvider
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profileViewforProvider .header 
  {
    /* border: 2px solid red; */
    position: relative;
    right: 5%;
  }
  .light .profileViewforProvider .header h3,
  .light .profileViewforCustomer .header h3,
  .light .profileViewforProvider .header .header__arrow,
  .light .profileViewforCustomer .header .header__arrow,
  .light .profileViewforCustomer .viewprofile__info p,
  .light .profileViewforProvider .viewprofile__info p,
  .light .profileViewforCustomer .viewprofile__activity h3

  {
    color: #000!important;
  }

  .light .profileModalViewTheme .image-container {
    /* width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 40px auto 0; */
    box-shadow: 0px 0px 15px rgba(4, 4, 4, 0.522);
  }
  .profileViewforCustomer::-webkit-scrollbar,.profileViewforProvider::-webkit-scrollbar {
    width: 0px;
  }
  .light .summary.modal-content, .light .request.modal-content
  {
    background-color: #ffffff;

  }
  .summary.modal-content, .request.modal-content{
    background-color: #01041c;
    padding: 20px;
    border-radius:25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    width: 100%;
    text-align: center;
    border: none;
  }
  .request.modal-content .service__detail,
  .request.modal-content .request__detail
  {
    width: 80%;
    /* border: 2px solid white; */
  }
  .light .summary.modal-content p, .light .request.modal-content p
  {
    color: #000000!important;
  }
  .confirmation.modal-content
  {
    max-width: 50%;
    max-height: 50%;

  }
  .confirmation.modal-overlay 
  {
    background-color: rgba(203, 211, 255, 0.182);

  }
  
  .summary.close-button {
    font-size: 18px;
    cursor: pointer;
  }


  .summary input {
    background-color: transparent;
    /* Your h2 styles */
  }
  
  .summary p {
    width: 70%;
    margin: 10px auto;
    text-align: left;
  }
  .btn-summary
  {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 70%;
    gap: 1em;
  }
  /* .btn-request 
  {
    width: 50%;
  } */
 
  
  .light .viewBtn
  {
    color: white;
    background-color: #111c74;
  }
  .viewBtn
  {
    color: #000212;
    border: none;
    border-radius: 12px;
    padding: 6px 10px;
    background-color: #fff;
  }
  .request-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 80%;
    margin: auto;
  }
  .requestModalTheme
  {
    display: flex;
    width: 80%;
    margin: 20px auto;
    gap: 1em;
  }
  
  .request-card {
    background-color: #f5f5f52d;
    padding: 20px;
    border-radius: 25px;
  }
  
  .request-card p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  .service__detail,.request__detail 
  {
    /* border: 1px solid red; */
    width: 55%;
    margin: auto;
  }
  .service__detail p,.request__detail p 
  {
    margin: 10px 0;
    padding-left: 30px;
    text-align: left;
  }
  .editUpdate
  {
    font-size: 23px;
  }
  .light .editUpdate
  {
    fill: #000;
  }
  .light .editInput,
  .light .startEnd
  {
    background-color: #000633;
    box-shadow: inset 0px 4px 30px #071689;

  }
  .editInput
  {
    box-shadow: inset 0px 4px 30px #000B65;
    border-radius: 5px;
    padding: 18px  0 18px 30px ;
    /* width: 100%; */
    margin: 20px auto;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: white;
    width: 70%;
    display: block;
  }
  .start_container
  {
    width: 100%;
  }
  .startEnd
  {
    box-shadow: inset 0px 4px 30px #000B65;
    border-radius: 5px;
    padding: 18px  0 18px 30px ;
    /* width: 100%; */
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: white;
    display: block;
    width: 100%;
  }
  .inputWidth
  {
    width: 100%;

  }
  .provideTheme
  {
    font-size: 2.3em;
    margin: 40px 0 30px 0;
  }
  .light .provideTheme
  {
    color: #000;
  }

  .req__btn
  {
    display: flex;
    width: 70%;
    margin: auto;
    gap: 1em;
  }
  .req__price
  {
    margin: 20px 0;
  }
  .light .req__price h3 ,
  .light .req__desc h3,
  .light .req__contact h3
  {
    color: black;
  }

  .postImage img 
  {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  .post-card-grid
  {
    display: grid;
    gap: 1em;
    grid-template-columns: 25% 75%
  }
/* ----------rating----------------- */
  .rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .star {
    cursor: pointer;
    color: #ccc;
    font-size: 24px;
    margin-right: 5px;
  }
  
  .star:hover
  {
    color: #a99448;

  }
  .star.active {
    color: #fcd036;
  }
  
  .review-form {
    margin-top: 10px;
  }
  
  .review-form textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
  }
  
  .review-form button {
    margin-top: 10px;
    background-color: #fcd036;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .review-form button:hover {
    background-color: #ffa500;
  }
  .viewprofile__card:nth-child(2) p 
  {
      font-size: 6em;
      text-align: center;
      font-weight: 500;
  }
  .viewprofile__card:nth-child(2) 
  {
    text-align: center;
  }
  .finishModalTheme
  {
    width: 80%;
    margin: 40px auto 0;
  }
  .light .finishModalTheme h3
  {
    color: #000;
  }
  .finishModalTheme h3 
  {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
  }
  .finishModalTheme .finishClose 
  {
    font-size: 2.4em;
    text-align: end;
    
  }
  .finishModalTheme .finishClose:hover 
  {
    cursor: context-menu;
  } 

  .green-dot {
    width: 20px;
    height: 20px;
    background-color: rgb(3, 204, 3);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: -5px;
    top: -20px;
    margin-right: 5px; /* Adjust the margin as needed */
  }
  .reqBtn 
  {
    position: relative;
  }
  .disabled:hover
  {
    cursor: not-allowed;
  }
  